@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  /*
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 */
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%; 
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

html,
body {
  font-family: "Roboto", sans-serif;
  
}
body {
  background: linear-gradient(to bottom right, #dae1e9, 80%, #0e7ad6) no-repeat;
}
.App {
  font-size: 16px;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
  color: #1f1e1e;
  text-transform: uppercase;
  font-weight: 500;
}
.LogoWName {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.LogoWName:hover {
  color: #12127e;
}
.Logo__name {
  margin-left: 10px;
}
.container {
  max-width: 1352px !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.3rem !important;
  letter-spacing: 0.03rem !important;
  color: #1f1e1e !important;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-link{
	color:#1f1e1e!important;
	font-size: 1.3rem!important;
}
.nav-link:hover{
	color: #12127e !important;;
	transition: all ease 0.5s;
	text-shadow: 5px 5px 8px #0e7ad6;
}


.Weather__search-actions{
	display: flex;
	margin: 20px 0px 0px 10px;
}
.Weather__search-form {
  display: flex;
  margin-right: 20px;
}
.Weather__input {
  background-color: rgb(253, 232, 222);
  width: 230px;
  height: 40px;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding-left: 10px;
  background-clip: unset;
  border: unset;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
}
.Weather__input:focus {
  border: 2px solid rgba(233, 138, 94, 0.747);
}

.Weather__btn {

  background-color: rgba(233, 138, 94, 0.747);
  height: 40px;
  width: 40px;
  border: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px;
}

.Weather__btn:hover{
	border-top: 1px solid rgba(241, 128, 76, 0.747);
	border-right: 1px solid rgba(241, 128, 76, 0.747);
	border-bottom: 1px solid rgba(241, 128, 76, 0.747);
}
.Weather__btn-img img {
  display: block;
}

.Weather__delete{
	background-color: rgba(82, 131, 221, 0.938);
	height: 40px;
	width: 80px;
	border-radius: 7px;
}
.Weather__delete:hover{
	background-color: rgba(50, 114, 233, 0.938);
}


.Weather {
  margin-top: 30px;
  display: inline-block;
  line-height: 1.1;
  padding: 10px;
  max-width: 300px;
}
.Weather__city {
  font-size: 25px;
  font-weight: 700;
  color: #39393a;
}
.Weather__temp {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 36px;
  color: #39393a;
}
.Weather__temp-maxmin {
  margin: 10px;
  font-size: 20px;
}
.Weather__temp-maxmin span:first-child {
  margin-right: 10px;
}
.Weather__description {
  font-size: 20px;
  font-weight: 500;
}
.Weather__description-second {
  display: inline-block;
}
.Weather__description-second::first-letter {
  text-transform: uppercase;
}

.Weather__more {
  color: #535355;
  margin: 10px 0px;
}
.Weather__items {
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
  border-left: 1px solid #eb6e4b;
  padding-left: 20px;
}
.Weather__items li {
  margin-right: 16px;
}

.Tick {
  margin-top: 30px;
  margin-bottom: 30px;
}
