

.forecast__search{
	margin: 20px 0px 0px 10px;
}
.forecast__search-actions{
}
.forecast__search-form{
	display: flex;
	margin-right: 20px;
}
.forecast__input{
	background-color: rgb(253, 232, 222);
	width: 230px;
	height: 40px;
	font-size: 18px;
	letter-spacing: 0.05em;
	padding-left: 10px;
	background-clip: unset;
	border: unset;
	border-top-left-radius: 7px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 0;
}
.forecast__input:focus {
	border: 2px solid rgba(233, 138, 94, 0.747);
 }
.forecast__btn{
	background-color: rgba(233, 138, 94, 0.747);
  height: 40px;
  width: 40px;
  border: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px;
}
.forecast__btn:hover{
	border-top: 1px solid rgba(241, 128, 76, 0.747);
	border-right: 1px solid rgba(241, 128, 76, 0.747);
	border-bottom: 1px solid rgba(241, 128, 76, 0.747);
}
 .forecast__btn-img img{
	display: block;
} 


.forecast__titlecity{
	margin-top: 30px;
	line-height: 1.1;
}
.forecast__titlecity-name{
	font-size: 25px;
  font-weight: 700;
  color: #39393a;
}
.forecast__days{
	max-width: 430px;
}
.forecast__list{
	 display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
}
.forecast__list-data{
	display: flex;
	flex: 0 0 30%;
	font-size: 17px;
	color: #39393a;
}
.forecast__list-tempwdesc{
	display: flex;
	align-items: center;
	width: 300px;
	justify-content: space-between;
}
.forecast__list-temp{
	font-size: 17px;
	color: #39393a;
	display: flex;
   align-items: center;
}
.forecast__list-description{
	width: 130px;
	text-align: right;
	font-size: 14px;
	color: #535355;
}


.forecast__sublist{
	padding: 10px;
	background-color: rgba(255, 165, 91, 0.199);
}
.forecast__sublist-up{
	display: flex;
	margin-bottom: 10px;
}
.forecast__sublist-img{}
.forecast__sublist-description{
	line-height: 1.5em;
}
.forecast__sublist-description-up{
	font-weight: 500;
	color:#252525;
}
.forecast__sublist-description::first-letter{
	text-transform: uppercase;
}
.forecast__sublist-center{}
.forecast__sublist-ul{
	display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    border-left: 1px solid #eb6e4b;
    padding-left: 20px;
	 color: #48484a;
}
.forecast__sublist-ul li{
	margin-right: 36px;
}
.forecast__sublist-down{
}
.forecast__sublist-down-table{
	text-align: center;
	color: #48484a;
}
.forecast__sublist-down-table-row{}
.forecast__sublist-down-table-column{
	font-weight: 400;
} 
table td{
	padding: 5px 8px;
}
table td:first-child{
	color: #8a8a8a;
    text-align: left;
    text-transform: uppercase;
}
.forecast__sublist-down-table-temp{
	
}
.forecast__sublist-down-table-feels{}

